@import "~bootstrap/scss/bootstrap.scss";
#app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bulb{
    margin: 0.5rem;
    border-radius: 100%;
    width: 6rem;
    height: 6rem;
    border: black 0.1rem solid;
}